@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
/*https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css*/

body {
  /*background-color: #ffd47d;*/
  background-color:#d4baba;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-smooth: auto;
  
  margin: 0 !important;
  padding: 0 !important;

}




h1 {
    font-weight: 200;
	font-family: "Noto Serif", Serif;
	font-size: 1.4rem;
	text-align: top;
	vertical-align: top;
}

h2{
 font-family: "Averia Serif Libre", Serif;
 font-weight: lighter;
 font-size: 1.6rem;
 line-height: 1.3;
 padding:none;
}

p {
    font-size: 1rem;
    font-weight: 400;
	color: rgba(0, 0, 0, 0.9);
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	line-height: 1.5;
	font-smooth: auto;
}

ul {
    padding:0;
    list-style: none;
}

.social-icons li {
    vertical-align: top;
    display: inline;
    height: 10rem;
    text-decoration: none;
    font-size: 2rem;
}
.social-icons a:link{
	text-decoration: none;
	 border-bottom: none;
}


a:link {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: rgba(0, 0, 0, 0.9);
  border-bottom: 2px solid #000;
  padding-bottom: 3px;
}

/* selected link */
a:active {
  color: grey;
}

#three {
  position: fixed;
  z-index:-1;  
/*  margin-top: 0px;
  margin-left: -10px;*/
  opacity: 0.5;
}

.navbar {
	/*background-color: #d4baba;*/
	background-color: white;
	position:fixed;
	z-index: 3;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	text-align: center;
	font-weight: 400;
	font-family: "Noto Serif", Serif;
	font-style: italic;
	color : black;
	font-size: 0.9rem;
	width: 100%;
    margin:0 auto;
}

.navbar a:link,
.navbar a:visited
{
   text-decoration: none;
   border-bottom: none;
}
.navbar a:hover {
   text-decoration: none;
   border-bottom: 1px solid #000;
}


#buttons {
  position:fixed;  
  z-index:2;  
  margin-top: 80px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 10px;
  visibility: hidden;
}

#grid {  
  z-index:1;
  -webkit-column-gap: 1.8rem; /* Chrome, Safari, Opera */
  -moz-column-gap: 1.8rem; /* Firefox */
  column-gap: 2.4rem;
  width: 55%;
  position: relative;
  margin:0 auto;
}
/* If in mobile screen with maximum width 479px. The iPhone screen resolution is 320x480 px (except iPhone4, 640x960) */    
@media only screen and (max-width: 479px){
    #grid { width: 90%; }
}


.row {
  display: flex;
}

.column {
  flex: 50%;
}

.topnav {
  font-family: 'Averia Serif Libre', sans-serif;
  font-size: 1.2rem;
  text-align: left;
  background-color: #eee;
  padding-left: 3rem;
  line-height: 1.1rem;
  position:fixed;  
  z-index:4;  
  overflow: hidden;
  width: 50%;
  left:0;

}

.topnav #myLinks {
  display: none;
}

.topnav a {
  background-color: #eee;
  color: black;
  padding: 1rem 1rem;
  text-decoration: none;
  display: block;
  border-bottom: 0px;

}
.topnav a:hover {
  color: grey;
  background-color: #eee;
}

.topnav a.icon {
  color: black;
  background-color: #eee;
  text-decoration: none;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  border-bottom-right-radius: 1rem;
}

.active {
}

